<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="/img/AdminLTELogo.png" alt="logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Admin</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_clients_url, class: "nav-link" do %>
            <i class="fas fa-circle nav-icon"></i>
            <p>Clients</p>
          <% end %>
        </li>
      </ul>

      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_brands_url, class: "nav-link" do %>
            <i class="fas fa-circle nav-icon"></i>
            <p>Brands</p>
          <% end %>
        </li>
      </ul>

      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_products_url, class: "nav-link" do %>
            <i class="fas fa-circle nav-icon"></i>
            <p>Products</p>
          <% end %>
        </li>
      </ul>

      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_orders_url, class: "nav-link" do %>
            <i class="fas fa-circle nav-icon"></i>
            <p>Orders</p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
